html, body {
    min-height: 100%;
    height: 100%;
    background: #243138;
}

#path289 {
    fill: url(#mountain-gradient-1);
}

#path51872 {
    fill: url(#mountain-gradient-2);
}

#path520 {
    fill: url(#mountain-gradient-3);
}

#path22962 {
    fill: url(#water-gradient-1);
}

#path37764 {
    fill: url(#land-gradient-1);
}

#path270 {
    fill: url(#land-gradient-2);
}

#path172 {
    fill: url(#land-gradient-3);
}

#path19660 {
    fill: url(#fir-gradient-1);
}