.contents {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.demo {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
    padding: 20px;
    margin-bottom: 1em;
    text-decoration: none;
}

.four-seasons {
    background: #559E91;
}

.fixed-actors-scene {
    background: #D1B086;
}

.sticky-platform-scene {
    background: #86B7D1;
}

.agenda {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
}

.earth {
    background: #9BD1A8;
}

.from-tests-link {
    text-align: center;
}

.from-tests-link .title {
    margin-bottom: 10px;
    font-weight: bold;
}

.from-tests-link .item {
    text-align: left;
    margin-bottom: 4px;
}

.from-tests-link .item a {
    text-decoration: none;
}

.from-tests-link .item a:hover {
    text-decoration: underline;
}

.from-tests-link .items div:nth-child(odd) a {
    color: #cdcdcd;
}
