.block {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
}

#scene {
    background: #2F3B4F;
    position: relative;
}

#first-block {
    background: #D1B086;
}

#second-block {
    background: #D1CE71;

}

#third-block {
    background: #86B7D1;
}

#fourth-block {
    background: #555E9E;
}

.first-lay {
    width: 50%;
    height: 100%;
    background: #85643A;
    position: absolute;
    left: 0;
}

.second-lay {
    width: 25%;
    height: 100%;
    background: #857748;
    position: absolute;
    left: 0;
}

.empty-block {
    padding: 10px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 4em;
}

.agenda {
    background: #7BD1C1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 4em;
}
